.ending{
  margin:30px;
 
}
.Reach-us{
  text-align:center;
}
#article-list{
  width:auto;
  text-align:left;
}
.date-added{
  text-align:left;
  font-weight:bold;
  opacity: 0.5;
  margin:10px;
}
#poult-own{
  text-align:left;
  color:#77787F;
  margin:10px;
}
#beginner-li{
  text-align:left;
  margin:30px;
}
ol{
  list-style-type: lower-alpha;
}
.next-page-nav{
  text-align: right;
  margin:15px;
  opacity:0.8;
}