@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
    font-size: 15pt;
    font-family: Work Sans, sans-serif;
}

.nav {
  height:70px;
  background:
  #42886F;
  
}
.nav div{
  display:inline-block;
  position:absolute;
  left:0;
  padding:15px;
  font-size:20px;
  
}
.nav ul{
  position:absolute;
  right:5px;
}
.nav ul li a{
  color:white;
  padding:5px;
    margin-right:4px;
}
.nav ul li{
  display:inline-block;
}
#pagebanner{
  width:100%;
  height:200px;
}
.welcome{
  width:45%;
  position:absolute;
  float:left;
  left:0;
  margin:0 10px;
  padding:5px;
  
}
#infograph1{
  position:absolute;
  height:450px;
  position:absolute;
  float:right;
  right:0;
  width:40%;
}
#wel{
  color:#539934;
}
#weare{
  text-align: left;
  padding:500px 20px;
  margin-top:250px;
  position:absolute;
  
}
#were{
  color:#38794C;
  text-align: left;
  
}
#who{
  color:#2C322F;
  font-variant:small-caps;
}
  .why{
  font-variant:small-caps;
}
  

.homepage a{
  color:#184137;
  padding:10px;
  margin-top: 10px;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-image: url(https://i.postimg.cc/NjgjXw71/580b57fcd9996e24bc43c543-1.png);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
#infograph2{
  height:450px;
  padding:5px 5px;
  width:40%;
  position:absolute;
  float:right;
  right:0;
  top:850px;
}
.social-media-icon{
  position:fixed;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  position:relative;
  display:inline;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
