@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}

body {
  margin: 0;
  background:#ADB17885;
  text-align:center;
  width:100%;
  display:inline-block;
  font-family: "Quicksand", sans-serif;
  
  overflow: scroll;
  
}
a{
  color:#57586A;
}
.img-header{
  width:90%;
  background: #81A8A4;
  border: 2px solid #D4DCC1;
  padding:20px;
  margin:10px ;
  height:140px;
  
}
.bar {
  display:block;
  text-align: center;
  text-decoration: none;
 color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(148,140,48,0.0706893920898437) 50%, rgba(252,176,69,1) 100%);
  display:block;
  float:right;
  margin:5px 10px;
  padding:30px;
  left:100px;
  
  
}
.bar a{
  color:#515259;
  background:black;
  padding:10px;
}
.bar a:hover{
  background:#43476E;
  color:white;
}
#advert-box{
  text-align:center;
  border: 4px solid #F1F1E985;
  margin:20px 10px 10px 10px;
  padding:10px;
  
}

#page-banner{
  width:90%;
  text-align:center;
  border:2px solid #F1F1E985;
  height:200px;
  background:#C6C5B9;
}
#page-banner a:hover{
 color:#464757;
}
#wel{
  font-variant: small-caps;
}
#welcome-message{
  text-align:center;
  border:2px solid #F1F1E985;
  margin:30px;
  background:#C6C5B9;
}
#topic{
  font-variant: small-caps;
  color:#37373B;
}
#who{
  color:#61626A;
}
.about{
  border:2px solid #F1F1E985;
  text-align:center;
  margin:40px;
  padding:10px;
  background:#C6C5B9;
}
.fa{
  display:inline-block;
  position:fixed;
  left:0;
  top:900px;
  padding:5px;
  text-decoration:none;
  color:#1E6DA6;
  margin:5px;
  font-size:20px;
  background:black;
}
.fa li{
  display:block;
}
.fa fa-facebook{
  top:880px;
  margin:15px;
}
.fa fa-twitter{
  margin:5px;
}
.welcome-banner{
  width:90%;
  text-align: center;
  height:200px;
  margin:20px;
  border:2px solid #F1F1E985;
  background:#C6C5B9;
}
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.article{
  border:2px solid #F1F1E985;
  text-align:center;
  width:90%;
  margin:30px;

  background:#C6C5B9;
}
#word-meaning{
  text-align:left;
  
}
#date-added{
  text-align:left;
  margin:5px;
}
a{
  color:#353757;
  text-decoration:none;
}
a:hover{
  color:#2296AF;
}
#main-content{
  font-variant: small-caps;
}
li{
  list-style-type: circle;

}
#article1{
  color:#5C5D66;
  font-variant:small-caps;
}
#word-meaning{
  margin:20px;
}
footer{
  background:#868689;
  margin: 0 20px;
  padding:20px;
  text-align:center;
}
.address-ending{
  text-align:left;
 
}
.bottom-nav-bar{
  text-align: left;
  left: 500px;
  font-size:10px;
}
li{
  list-style-type:none;
}
#address-head{
  color:#2F3679;
}
#address{
  font-size: 10px;
}
.pages{
  color:#4D4E5B;
  margin:20px;
  text-align:center;
  padding:5px;
  
}
.ending{
 width:90%;
 border:2px solid #F1F1E985;
 text-align:center;
 background:#C6C5B9;
 margin: 0 35px;
}
.chat{
  text-align:right;
  
}
#visit{
  margin:20px;
}
.bottom{
  font-size:10px;
  display:block;
}
.bottom li{
  list-style-type:none;
  display:inline-block;
  margin:40px;
}
footer{
  width:90%;
  margin:20px;
  border:2px solid #F1F1E985;
}
.contact a{
  color:#555B57;
}
.contact li{
  display:inline-block;
  margin:40px;
  background:#3B3D3C;
}
#about-banner{
  width:90%;
  height:200px;
  border:2px solid #D4DCC1;

}
#heat{
  margin:30px;
}
.social-icon{
  padding:5px;
  margin:5px;
}
.social-icon li{
    display:block;
    margin:5px;
}
.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-li {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-li li {
  display: inline;
}
#medicate-bg{
  margin:10px;
  color:#878788;
}