.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}

body {
  margin: 0;
  background:#DCE2CE;
  width:100%;
  text-align:center;
}
.img-header{
  width:90%;
  background: 
  #4ABA93;
  border: 5px solid black;
  padding:20px;
  margin:10px ;
  height:140px;
  border-style:ridge;
}
.bar {
  display:block;
  text-align: center;
  text-decoration: none;
  color:white;
  display:block;
  float:left;
  margin:30px 10px;
  padding:30px;
  left:100px;
  color:white;
  
}
.bar a{
  color:white;
  background:black;
  
}
.bar a:hover{
  background:#43476E;
  color:white;
}
#advert-box{
  text-align:center;
  border: 4px solid ;
  margin:20px 10px 10px 10px;
  padding:10px;
  
}

#page-banner{
  width:90%;
  text-align:center;
  border:5px solid;
  height:200px;
  border-style:ridge;
  background:#C6C5B9;
}
#page-banner a:hover{
 color:#464757;
}
#wel{
  font-variant: small-caps;
}
#welcome-message{
  text-align:center;
  border:5px solid;
  margin:30px;
  border-style:ridge;
  background:#C6C5B9;
}
#topic{
  font-variant: small-caps;
}
.about{
  border:5px solid;
  text-align:center;
  margin:30px;
  border-style:ridge;
  background:#C6C5B9;
}
.fa{
  display:block;
  position:fixed;
  left:0;
  top:900px;
  padding:5px;
  text-decoration:none;
  color:#1E6DA6;
  margin:5px;
  font-size:20px;
  background:black;
}
.fa fa-facebook{
  top:880px;
  margin:15px;
}
.fa fa-twitter{
  margin:5px;
}
.welcome-banner{
  width:90%;
  text-align: center;
  height:200px;
  margin:20px;
  border:5px solid;
  border-style:ridge;
  background:#C6C5B9;
}
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.article{
  border:5px solid;
  text-align:center;
  width:90%;
  margin:30px;
  border-style:ridge;
  background:#C6C5B9;
}
#article-list{
  width:40%;
  
}
a{
  color:
  #369EA8;
  text-decoration:none;
}
a:hover{
  color:#2296AF;
}
#main-content{
  font-variant: small-caps;
}
li{
  list-style-type: circle;

}